.venv\
.env
scratch_file.py
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
Capture d'écran 2024-11-20 120451.png
Capture d'écran 2024-11-20 121110-1.png
Capture d'écran 2024-11-20 121110.png
Capture d'écran 2024-11-20 123103.png
Capture d'écran 2024-11-20 123345.png
Présentation de données.png
Stations bretagne.png